table.calendarTB {
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border:3px solid black;
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
tr.calendarTR {
	text-align:center;
}
td.calendarTD {
	
}
.day {
	font-size:10px;
	text-align:left;
	border:1px solid black;
	border-collapse:collapse;
	cursor:pointer;
	height:20px;
	width:20px;
}
.day:hover {
	background-color:yellow;
}
.calHeader{
	border-bottom:1px solid black;
	border-collapse:collapse;
	height:20px;
	width:20px;
}
.calHeader2{
	border:1px solid black;
	border-collapse:collapse;
	height:20px;
	width:20px;
}
.pickButton {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}