a.headerLink {
	text-decoration: none;
	color:black;
}

a.headerLink:hover {
	color:red;
}

a.titleLink {
	font-size:35px;
	text-decoration:none;
	color:black;
	font-family:Hand_of_Sean;
}

a.sidebarLink {
	text-decoration:none;
	color:black;
	font-size:12px;
}

a.sidebarLink:hover {
	color:red;
}

.toyListing {
	padding:20px;
	border:2px solid black;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	cursor:pointer;
	border-radius:5px;
}

.toyListing:hover {
	background-color:FFFDBF;
}

.topic {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	font-weight:bold;
	padding:5px;
}

.subtopic {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	/*text-decoration:underline;*/
	padding:5px;
	font-weight:bold;
}

.navLink {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/*.listTopic {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	font-weight:bold;
}

.listItem {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}*/

table.list {
	margin-left:auto;
	margin-right:auto;
}
td.listTopic {
	min-width:250px;
	font-size:18px;
	font-weight:bold;
}
td.listItem {
	min-width:250px;
}

.formSubmit {
	width:200px;
	margin-left:auto;
	margin-right:0;
}

#sidebar {
	width:200px;
	float:right;
	border-left: 2px solid D9D9D9;
	border-collapse:collapse;
	height:100%;
	padding-left:5px;
	color:black;
}

#header {
	border-bottom:2px solid D9D9D9;
	background-color:DCD9FF;
	font-size:25;
	color:black;
	padding-bottom:3px;
	padding-right:5px;
	padding-left:5px;
}

#mainWrapper {
	width:auto;
	/*overflow:hidden;*/
	word-wrap:break-word;
	/*height:100%;*/
}

#fullWrapper {
	border-radius:10px;
	background-color:white;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	overflow: hidden;
	border:2px solid D9D9D9;
	min-height: 100%
}

body {
	background-color:E3FAE9;
	font-family:Century Gothic;
}

/*@font-face {
    font-family: Timeless;
    src: url('/toylib/resources/fonts/AveriaSerif.ttf');
}

@font-face {
    font-family: Timeless_Bold;
    src: url('/toylib/resources/fonts/Timeless-Bold.ttf');
}*/

@font-face {
    font-family: Hand_of_Sean;
    src: url('/toylib/resources/fonts/handsean.ttf');
}