<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Toy Categories</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Browse Toys</div>
        <div class="subtopic">Categories</div><br />
        <div class="toyListing" th:onclick="'window.location.href=\'' + @{/toys/category(id=${category.getId()})} + '\';'" th:each="category : ${categories}" th:text="${category.getName()}">
        </div>
    </div>
    </div>
    </body>
</html>