<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic" th:text="'Edit Toy - ' + ${backer.getName()}">Edit User Details</div>

        <form action="#" th:object="${backer}" th:action="@{/toys/delete}" method="post">
            <input type="hidden" th:field="*{toyId}"/>
            <input type="hidden" th:field="*{categoryId}"/>
            <input type="submit" value="Delete Toy"/>
        </form>
        <p>Note, this will also delete all bookings associated with the toy.</p>

        <form action="#" th:object="${backer}" th:action="@{/toys/edit}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{toyId}"/>

                <label>Name: </label>
                <input type="text" th:field="*{name}" required=""/>
                <br/>

                <label>Category: </label>
                <select th:field="*{categoryId}">
                    <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}">Category</option>
                </select>
                <br/>

                <label>Library: </label>
                <select th:field="*{lastLibraryId}">
                    <option th:each="library : ${libraries}" th:value="${library.getId()}" th:text="${library.getName()}">Category</option>
                </select>
                <br/>

                <label>Market Value ($ CAD): </label>
                <input type="number" th:field="*{marketValue}" required=""/>
                <br/>
                <div class="formSubmit"><input type="submit" value="Save"/></div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
