<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Toys - ' + ${categoryName}"></title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
	</head>
	<body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
	<div class="topic">Browse Toys</div>
        <div class="subtopic" th:text="'Category - ' + ${categoryName}">Toys</div>
	<div class="navLink"><a th:href="@{/toys/}">View All Categories</a></div><br />
        <div class="toyListing" th:onclick="'window.location.href=\'' + @{/toys/view(id=${toy.getId()})} + '\';'" th:each="toy : ${toys}"><a style="text-decoration:none; color:black;" th:href="@{/toys/view(id=${toy.getId()})}" th:text="${toy.getName()}"></a></div>
    </div>
    </div>
    </body>
</html>
