<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${toy.getName()}">Toy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/scripts/calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    <link rel="stylesheet" type="text/css" href="../resources/css/calStyles.css" th:href="@{/resources/css/calStyles.css}" />
</head>
<body>
    <div id="fullWrapper">
        <div id="mainWrapper">
            <div id="header" th:include="include/headers::mainHeader"/>
            <div class="topic">Browse Toys</div>
            <div class="subtopic" th:text="${toy.getName()}">Toy</div>
            <div class="navLink"><a th:href="@{/toys/category(id=${toy.getCategoryId()})}">View Parent Category</a></div>
            <!---->
            <div th:if="${beans.userSession.isStaff()}" class="navLink"><a th:href="@{/toys/edit(id=${toy.getId()})}">Edit</a></div>
            <br />
            <!---->
            <!--<div class="listTopic">ID</div>-->
            <!--<div class="listItem" th:text="${toy.getId()}">Toy ID</div>-->
            <!--<br/>-->
            <!---->
            <!--<div class="listTopic">Last Location</div>-->
            <!--<div class="listItem" th:text="${library.getName()}">Toy Location</div>-->
            <!--<br/>-->
            
            <table class="list">
                <tr>
                    <td class="listTopic">ID</td><td class="listItem" th:text="${toy.getId()}"></td>
                </tr>
                <tr>
                    <td class="listTopic">Last Location</td><td class="listItem" th:text="${library.getName()}"></td>
                </tr>
                <tr>
                    <td class="listTopic">Replacement Cost</td><td class="listItem" th:text="${toy.getMarketValue()}"></td>
                </tr>
            </table>
            <br />

            <div class="listItem" th:if="${booking}" th:text="'This toy is currently booked. The booking will end ' + ${booking.returnDate}">Toy is booked</div>
    
            <div th:if="${beans.userSession.isLoggedIn()}">
                <div class="subtopic">Book this Toy</div>

                <form action="#" th:object="${backer}" th:action="@{/booking/create}" method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{toyId}"/>
                        <input type="hidden" th:field="*{userId}"/>

                        <label>Pickup Library: </label>
                        <select th:field="*{pickupLibraryId}">
                            <option th:each="libraryOption : ${libraries}" th:value="${libraryOption.id}" th:text="${libraryOption.name}">Category</option>
                        </select>
                        <br/>
                        <p>Note: If your pickup library is not the toy's current library, the toy will have to be moved. You must book at least 1 day in advance for the move to be possible.</p>

                        <!--todo: if we have time, put current bookings on here-->
                        <table class="calendarTB">
				<tr class="calendarTR"><td style="cursor:pointer;" class = "calHeader" id="prevMonth" onclick="prevMonth();">&larr;</td><td class = "calHeader" colspan="5" id="month">Month</td><td style="cursor:pointer;" class="calHeader" id="nextMonth" onclick="nextMonth();">&rarr;</td></tr>
				<tr class="calendarTR"><td class = "calHeader2">Su</td><td class = "calHeader2">Mo</td><td class = "calHeader2">Tu</td><td class = "calHeader2">We</td><td class = "calHeader2">Th</td><td class = "calHeader2">Fr</td><td class = "calHeader2">Sa</td></tr>
				<tr class="calendarTR"><td id="00" class="day"></td><td id="01" class="day"></td><td id="02" class="day"></td><td id="03" class="day"></td><td id="04" class="day"></td><td id="05" class="day"></td><td id="06" class="day"></td></tr>
				<tr class="calendarTR"><td id="10" class="day"></td><td id="11" class="day"></td><td id="12" class="day"></td><td id="13" class="day"></td><td id="14" class="day"></td><td id="15" class="day"></td><td id="16" class="day"></td></tr>
				<tr class="calendarTR"><td id="20" class="day"></td><td id="21" class="day"></td><td id="22" class="day"></td><td id="23" class="day"></td><td id="24" class="day"></td><td id="25" class="day"></td><td id="26" class="day"></td></tr>
				<tr class="calendarTR"><td id="30" class="day"></td><td id="31" class="day"></td><td id="32" class="day"></td><td id="33" class="day"></td><td id="34" class="day"></td><td id="35" class="day"></td><td id="36" class="day"></td></tr>
				<tr class="calendarTR"><td id="40" class="day"></td><td id="41" class="day"></td><td id="42" class="day"></td><td id="43" class="day"></td><td id="44" class="day"></td><td id="45" class="day"></td><td id="46" class="day"></td></tr>
				<tr class="calendarTR"><td id="50" class="day"></td><td id="51" class="day"></td><td id="52" class="day"></td><td id="53" class="day"></td><td id="54" class="day"></td><td id="55" class="day"></td><td id="56" class="day"></td></tr>
			</table>
                        <div style="margin-left:auto;margin-right:auto;width:205px;"><button class="pickButton" type="button" onclick="pickStart();">Pick Start Date</button><button class="pickButton" type="button" onclick="pickEnd();">Pick End Date</button></div>
                        <br />
    
                        <label>Pickup Date (DD/MM/YY): </label>
                        <input id = "startDate" type="text" th:field="*{pickupDate}" required=""/>
                        <!--wait for better html5 support <input type="date" th:field="*{pickupDate}" value="today" min="today" required="" title="(yy/mm/dd)"/>-->
                        <br/>
    
                        <label>Return Date (DD/MM/YY): </label>
                        <input id = "endDate" type="text" th:field="*{returnDate}" required=""/>
                        <!--wait for better html5 support <input type="date" th:field="*{returnDate}" min="1" required="" title="(yy/mm/dd)"/>-->
                        <br/>

                        <label th:if="${beans.userSession.isStaff()}">Book for Maintenance: </label>
                        <input th:if="${beans.userSession.isStaff()}" type="checkbox" th:field="*{maintenance}"/>
    
                        <p>Your booking is not finalized until approved by a staff member. You will receive an email when the booking has been approved or removed.</p>
                        <p>On approval, a charge of $<span th:text="${beans.bookingService.getBookingFee(beans.userSession.isStaff())}">amount</span> will in added to your account.</p>
    
                        <div class="formSubmit"><input type="submit" value="Book"/></div>
                    </fieldset>
                </form>
            </div>
    
        </div>
    </div>
</body>
</html>
