<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div id="header" th:fragment="mainHeader">
        <div style="height:70px;" id="headWrapper">
            <a style="float:left;" href="./home.html" th:href="@{/}" class="titleLink">Toys Are Yours</a>
            <div style="float:right;">
                <div  style = "font-size:15px;" th:if="${beans.userSession.isLoggedIn()}">
                    Logged in as:
                    <a th:href="@{/edituser(id=${beans.userSession.user.id})}" th:text="${beans.userSession.user.fullName}">User</a>
                    <br />
                </div>
                
                <div th:if="${!beans.userSession.isLoggedIn()}">
                    <a class="sidebarLink"   th:href="@{/login}">Login</a><br />
                    <a class="sidebarLink" th:if="${!beans.userSession.isLoggedIn()}" th:href="@{/register}">Register</a>
                </div>
                <a class="sidebarLink" th:if="${beans.userSession.isLoggedIn()}" th:href="@{/logout}">Logout</a>
            </div>
        </div>
        <div id="menuWrapper" style="overflow:hidden;">
        <a class="headerLink" th:href="@{/}">Home</a> | 
        <a class="headerLink" th:href="@{/toys}">Browse Toys</a> | 
        <a class="headerLink" th:href="@{/contact}">Contact Us</a><span th:if="${beans.userSession.isStaff()}"> |</span>
        <a class="headerLink" th:if="${beans.userSession.isStaff()}" th:href="@{/staff}">Staff Menu</a>
        </div>
    </div>
</body>
</html>