<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Successful</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Booking Successful</div>
        <div class="subtopic">You will be notified by email when the booking is accepted or rejected.</div>
        <div class="navLink"><a th:href="@{/toys/category(id=${toy.categoryId})}">Return to Category</a></div><br/>
        
        <table class="list">
            <tr>
                <td class="listTopic">Toy</td><td class="listItem" th:text="${toy.name}"></td>
            </tr>
            <tr>
                <td class="listTopic">Pickup Date</td><td class="listItem" th:text="${booking.pickupDate}"></td>
            </tr>
            <tr>
                <td class="listTopic">Return Date</td><td class="listItem" th:text="${booking.returnDate}"></td>
            </tr>
            <tr>
                <td class="listTopic">Pickup Library</td><td class="listItem" th:text="${library.name}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
