<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Booking</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic" th:text="'Edit Booking - ' + ${backer.bookingId}">Edit Booking</div>

        <form action="#" th:object="${backer}" th:action="@{/booking/edit}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{bookingId}"/>

                <label>Pickup Library: </label>
                <select th:field="*{pickupLibraryId}">
                    <option th:each="library : ${libraries}" th:value="${library.id}" th:text="${library.name}">Category</option>
                </select>
                <br/>

                <label>Pickup Date (DD/MM/YY): </label>
                <input type="text" th:field="*{pickupDate}" required=""/>
                <!--wait for better html5 support <input type="date" th:field="*{pickupDate}" value="today" min="today" required="" title="(yy/mm/dd)"/>-->
                <br/>

                <label>Return Date (DD/MM/YY): </label>
                <input type="text" th:field="*{returnDate}" required=""/>
                <!--wait for better html5 support <input type="date" th:field="*{returnDate}" min="1" required="" title="(yy/mm/dd)"/>-->
                <br/>

                <label>Status: </label>
                <select th:field="*{status}">
                    <option th:each="status : ${statuses}" th:value="${status.name()}" th:text="${status.name()}">Status</option>
                </select>
                <br/>
                <div class="formSubmit"><input type="submit" value="Save"/></div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
