<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tentative Bookings</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">

        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Tentative Bookings</div>

        <p th:unless="${bookings.size()} > 0">There are no tentative bookings</p>
        <table th:if="${bookings.size()} > 0">
            <tr>
                <th>Booking ID</th>
                <th>Toy ID</th>
                <th>Pickup Library ID</th>
                <th>Pickup Date</th>
                <th>Return Date</th>
            </tr>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.id}">ID</td>
                <td th:text="${booking.toyId}">Toy ID</td>
                <td th:text="${booking.pickupLibraryId}">Library ID</td>
                <td th:text="${booking.pickupDate}">Date</td>
                <td th:text="${booking.returnDate}">Date</td>
                <td><a th:href="@{/booking/edit(id=${booking.id})}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
