<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit User</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
        <style>
            td,th {
                text-align:center;
                padding:5px;
            }
        </style>
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper" th:with="editingSelf=(${beans.userSession.user.id} == ${backer.userId})">

        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic" th:text="'Edit User - ' + ${backer.getFullName()}">Edit User Details</div>

        <form action="#" th:object="${backer}" th:action="@{/edituser}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{userId}" />

                <label>Email: </label>
                <input type="email" th:field="*{email}" placeholder="email@example.com" required=""/>
                <br/>

                <label>Full Name: </label>
                <input type="text" th:field="*{fullName}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>

                <label>Address: </label>
                <input type="text" th:field="*{address}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>

                <label>Phone Number: </label>
                <input type="text" th:field="*{phoneNum}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>

                <label>Fees ($ CAD) : </label>
                <!--cant edit own fees-->
                <input th:if="${editingSelf}" type="hidden" th:field="*{fees}" />
                <input th:if="${editingSelf}" disabled="true" type="number" th:value="*{fees}"/>
                <input th:unless="${editingSelf}" type="number" th:field="*{fees}" required=""/>
                <br/>
                <div class="formSubmit"><input type="submit" value="Save"/></div>
            </fieldset>
        </form>

        <div class="topic" th:text="${editingSelf} ? 'Your Bookings' : 'User Bookings'">Bookings</div>
        <p th:unless="${bookings.size()} > 0">You don't have any bookings. <a th:href="@{/toys}">Browse our toys</a> to create one.</p>
        <table th:if="${bookings.size()} > 0">
            <tr>
                <th>Booking #</th>
                <th>Toy #</th>
                <th>Library #</th>
                <th>Pickup</th>
                <th>Return</th>
                <th>Status</th>
            </tr>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.id}">ID</td>
                <td th:text="${booking.toyId}">Toy ID</td>
                <td th:text="${booking.pickupLibraryId}">Library ID</td>
                <td th:text="${booking.pickupDate}">Date</td>
                <td th:text="${booking.returnDate}">Date</td>
                <td th:text="${booking.status}">Status</td>
                <td th:if="${beans.userSession.isStaff()}"><a th:href="@{/booking/edit(id=${booking.id})}">Edit</a></td>
                <td><form action="#" th:action="@{/booking/cancel(id=${booking.id})}" method="post">
                    <input type="submit" value="Cancel"/>
                </form></td>
            </tr>
        </table>
    </div>
    </div>
    </body>
</html>
