<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
	</head>
	<body>
		<div id="fullWrapper">
<div id="mainWrapper">
    <div id="header" th:include="include/headers::mainHeader"/>
		<div class="topic">Login</div>

		<form action="#" th:object="${backer}" th:action="@{/login}" method="post">
		<fieldset>
		    <label>Email: </label>
		    <input type="email" th:field="*{email}" placeholder="email@example.com" required="" tabindex="0"/>
	
		    <label>Password: </label>
		    <input type="password" th:field="*{password}" required=""/>
		    <div class="formSubmit"><input type="submit" value="Login"/></div>
		</fieldset>
		</form>
    </div>
    </div>
    </body>
</html>
