<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Successful</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Registration Confirmation</div>
        <div class = "subtopic">Your account has been created, and you're logged in.</div>
        
          <table class="list">
            <tr>
                <td class="listTopic">Email</td><td class="listItem" th:text="${user.getEmail()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Full Name</td><td class="listItem" th:text="${user.getFullName()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Address</td><td class="listItem" th:text="${user.getAddress()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Phone Number</td><td class="listItem" th:text="${user.getPhoneNum()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Account Type</td><td class="listItem" th:text="${user.isStaff()} ? 'Staff' : 'Parent'"></td>
            </tr>
        </table>
        <div class="navLink"><a th:href="@{/}">Return to Home</a></div>
    </div>
    </div>
    </body>
</html>
