<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Register</div>

        <form action="#" th:object="${backer}" th:action="@{/register}" method="post">
            <fieldset>
                <label>Email: </label>
                <input type="email" th:field="*{email}" placeholder="email@example.com" required=""/>
                <br/>

                <label>Password: </label>
                <input type="password" th:field="*{password}" pattern=".{3,16}" title="3 to 16 characters" required=""/>
                <br/>

                <label>Full Name: </label>
                <input type="text" th:field="*{fullName}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>

                <label>Address: </label>
                <input type="text" th:field="*{address}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>

                <label>Phone Number: </label>
                <input type="text" th:field="*{phoneNum}" required="" maxlength="255" title="At most 255 characters"/>
                <br/>
                <p>Upon registration, a charge of $<span th:text="${beans.userService.getRegistrationFee(beans.userSession.isStaff())}">amount</span> will in added to your account.</p>
                <div class="formSubmit"><input type="submit" value="Register"/></div>
            </fieldset>
        </form>
    </div>
    </div>
</body>
</html>
