<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Category</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Add Category</div>

        <form action="#" th:object="${backer}" th:action="@{/toys/addcategory}" method="post">
            <fieldset>
                <label>Name: </label>
                <input type="text" th:field="*{name}" required=""/>
                <br/>
                <div class="formSubmit"><input type="submit" value="Add"/></div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
