<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Toy</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Add Toy</div>

        <form action="#" th:object="${backer}" th:action="@{/toys/addtoy}" method="post">
            <fieldset>
                <label>Name: </label>
                <input type="text" th:field="*{name}" required=""/>
                <br/>

                <label>Category: </label>
                <select th:field="*{categoryId}">
                    <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}">Category</option>
                </select>
                <br/>

                <label>Library: </label>
                <select th:field="*{lastLibraryId}">
                    <option th:each="library : ${libraries}" th:value="${library.getId()}" th:text="${library.getName()}">Category</option>
                </select>
                <br/>

                <label>Market Value ($ CAD): </label>
                <input type="number" th:field="*{marketValue}" required=""/>
                <br/>
                <div class="formSubmit"><input type="submit" value="Add"/></div>
            </fieldset>
        </form>
    </div>
    </div>
    </body>
</html>
