<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Toy Successful</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>

        <div class="topic">Add Toy Confirmation</div>
        <div class="subtopic">A new toy as been added with the following information. Don't forget to tag the toy with its ID.</div>
        
        <table class="list">
            <tr>
                <td class="listTopic">ID</td><td class="listItem" th:text="${toy.getId()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Name</td><td class="listItem" th:text="${toy.getName()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Category ID</td><td class="listItem" th:text="${toy.getCategoryId()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Library ID</td><td class="listItem" th:text="${toy.getLastLibraryId()}"></td>
            </tr>
            <tr>
                <td class="listTopic">Market Value ($ CAD)</td><td class="listItem" th:text="${toy.getMarketValue()}"></td>
            </tr>
        </table>
        <br />
        <a class="navLink" th:href="@{/staff}">Return to Staff Menu</a>
    </div>
    </div>
    </body>
</html>
