<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unpaid Fees</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Unpaid Fees</div>

        <p th:text="'There are ' + ${users.size()} + ' user(s) with unpaid fees'">Number of fees</p>

        <table th:if="${users.size()} > 0">
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Amount Owed ($ CAD)</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.fullName}">Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.address}">Address</td>
                <td th:text="${user.phoneNum}">Phone Number</td>
                <td th:text="${user.fees}">Amount</td>
                <td><a th:href="@{/edituser(id=${user.id})}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
