<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Toys to Move</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Toys to Move</div>

        <p th:if="${items.size()} > 0">These toys must be moved to their next booking's pickup library from their current location.</p>
        <p th:unless="${items.size()} > 0">There are no toys to move.</p>

        <table th:if="${items.size()} > 0">
            <tr>
                <th>Toy ID</th>
                <th>Toy Name</th>
                <th>Current Library ID</th>
                <th>Destination Library ID</th>
                <th>Pickup Date</th>
            </tr>
            <tr th:each="entry : ${items.entrySet()}">
                <td th:text="${entry.key.id}">ID</td>
                <td th:text="${entry.key.name}">Name</td>
                <td th:text="${entry.key.lastLibraryId}">Email</td>
                <td th:text="${entry.value.pickupLibraryId}">Address</td>
                <td th:text="${entry.value.pickupDate}">Phone Number</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
