<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Staff Menu</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
    <div id="fullWrapper">
    <div id="mainWrapper">
        <div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Staff Menu</div>

        <a class="navLink" th:href="@{/toys/addtoy}">Add Toy</a><br />
        <a class="navLink" th:href="@{/toys/addcategory}">Add Category</a><br />
        <a class="navLink" th:href="@{/staff/addlibrary}">Add Library</a><br />
        <a class="navLink" th:href="@{/register}">Register Staff Member</a><br />
        <a class="navLink" th:href="@{/booking/tentative}">List Tentative Bookings</a><br />
        <a class="navLink" th:href="@{/staff/listusers}">User Directory</a><br />
        <a class="navLink" th:href="@{/staff/listfees}">List Unpaid Fees</a><br />
        <a class="navLink" th:href="@{/staff/movetoys}">Toys to Move</a><br />
    </div>
    </div>
</body>
</html>
