<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
	<div id="fullWrapper">
	<div id="mainWrapper">
		<div id="header" th:include="include/headers::mainHeader"/>
        <div class="topic">Contact Us</div>

        <p>Please do not hesitate to call, no matter what.  To report breakages or to get any answers to any questions, call any of our locations or stop in:</p>
        <ul>
            <li th:each="library : ${libraries}" th:text="${library.getName()} + ' - ' + ${library.getAddress()} + ' - ' + ${library.getPhoneNum()}">Example Library</li>
        </ul>

        <p>We can also be reached by email at <a th:href="'mailto:' + ${beans.userService.staffEmailAddress}" th:text="${beans.userService.staffEmailAddress}">email@example.com</a>.</p>
	</div>
	</div>
    </body>
</html>
