<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    </head>
    <body>
<div id="fullWrapper">
<div id="mainWrapper">
    <div id="header" th:include="include/headers::mainHeader"/>
    <img src="/resources/img/toys.jpg" th:src="@{/resources/img/toys.jpg}" align="right" height="250px" />
    <p><span style="font-size:25px;">Toys Are Yours</span> is a revolutionary new service to help parents get toys to their children without breaking the bank.  For a small annual fee, you can make bookings for a wide variety of toys at $<span th:text="${beans.bookingService.getBookingFee(beans.userSession.isStaff())}">amount</span> a pop, from cuddly to puzzling to everything in between.  Our friendly and courteous staff will assure that all toys are properly maintained and cleaned, and any toy in any library can be delivered to your most convenient location.  Welcome to a vast treasure trove of toys!  Welcome to Toys Are Yours!</p><br />
    Our Locations:
        <ul>
        <li th:each="library : ${libraries}" th:text="${library.getName()} + ' - ' + ${library.getAddress()}"/>
        </ul>
</div>
</div>
</body>
</html>
